.menu {
  padding: 15px 0 !important;
  .menu_link {
    color: white;
    text-decoration: none;
    &.active {
      .menu_item {
        background: rgba(255, 255, 255, .1);
      }
    }
    .menu_item {
      border-radius: 10px;
      margin-bottom: 10px;
      padding-top: 8px;
      padding-bottom: 8px;
      .icon {
        min-width: 30px;
      }
      svg {
        fill: white;
        width: 0.8em;
        height: 0.8em;
      }
      &:hover {
        background: rgba(255, 255, 255, .1);
      }
    }
  }
  .skeleton {
    background-color: #00c5ff30;
    cursor: wait;
    height: 60px;
  }
}