.text-field {
  background-color: #FFFFFF !important;
  width: 100% !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
  border: 1px solid #D9D9D9;

  fieldset {
    border-radius: 8px;
    border: 1px solid #D9D9D9;
  }

  input:-webkit-autofill {
    border-radius: 8px;
  }
}
.container {
  width: 350px !important;
  align-content: baseline;

  &.fixed {
    position: fixed;
    top: 85px;
    z-index: 2;

    .overflow-content {
      height: calc(100vh - 165px);
    }
  }
}
.table {
  width: 100%;
  margin-top: 10px !important;
  position: relative;

  .overflow-content {
    overflow-y: auto !important;
    height: calc(100vh - 235px);
  }

  .select-area {
    &, & * {
      cursor: pointer;
    }
  }

  .head {
    th {
      position: sticky;
      top: 0;
      z-index: 1;
      background: #6311af;
      color: #FFFFFF !important;
      padding: 8px 16px;
      border: none;
      text-align: center;

      &:first-child {
        border-top-left-radius: 8px;
      }

      &:last-child {
        border-top-right-radius: 8px;
      }
    }
  }

  .body {
    td {
      text-align: left;
      padding: 5px 10px;
      &.empty {
        text-align: center;
      }
      p {
        display: flex;
        margin: 0;
        flex-wrap: nowrap;
      }
    }

    tr {
      background: #FFFFFF;
      transition: .3s;

      &.active {
        background: #f2f9ff;
        transition: .3s;
      }
    }
  }
}
.skeleton {
  background-color: #00c5ff30;
  cursor: wait;
  height: 60px;
}
.filters {
  display: flex;
  background-color: transparent !important;
  .datepicker {
    background: white;
    margin-right: 10px;
  }
}
.files {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 !important;
  border-bottom: 0.1px solid rgba(84,9,183,0.7);
  box-shadow: none !important;

  td {
    border-bottom: none;
  }

}
.accordion {
  margin: 0 !important;
  box-shadow: none !important;
  border: none !important;


  .accordionSummary {
    box-shadow: none !important;
    background-color: rgba(99, 17, 175, 0.07);
    height: 80px;
  }
}

.accordion::before {
  background-color: rgba(255, 255, 255, 0) !important;
}

.form {
  margin-right: 10px;
  button {
    width: 100px;
    height: 35px;
    padding: 0;
  }
  label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input{
    display: none;
  }

}
.tablePagination {
  border-bottom: none !important;
}
.footer {
  display: flex !important;
  flex-direction: row-reverse;
  align-items: center;
}

