.text-field {
  background-color: #FFFFFF !important;
  width: 100% !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
  border: 1px solid #D9D9D9;

  fieldset {
    border-radius: 8px;
    border: 1px solid #D9D9D9;
  }

  input:-webkit-autofill {
    border-radius: 8px;
  }
}

.container {
  width: 350px !important;
  align-content: baseline;

  &.fixed {
    position: fixed;
    top: 85px;
    z-index: 2;

    .overflow-content {
      height: calc(100vh - 165px);
    }
  }
}

.table {
  width: 100%;
  margin-top: 10px !important;
  position: relative;

  .overflow-content {
    overflow-y: auto !important;
    height: calc(100vh - 235px);
  }

  .select-area {
    &, & * {
      cursor: pointer;
    }
  }

  .head {
    th {
      position: sticky;
      top: 0;
      z-index: 1;
      background: #6311af;
      color: #FFFFFF !important;
      padding: 8px 16px;
      border: none;
      text-align: center;

      &:first-child {
        border-top-left-radius: 8px;
      }

      &:last-child {
        border-top-right-radius: 8px;
      }
    }
  }

  .body {
    td {
      text-align: left;
      padding: 5px 10px;
      &.empty {
        text-align: center;
      }
      p {
        display: flex;
        margin: 0;
        flex-wrap: nowrap;
      }
    }

    tr {
      background: #FFFFFF;
      transition: .3s;

      &.active {
        background: #f2f9ff;
        transition: .3s;
      }
    }
  }
}

.skeleton {
  background-color: #00c5ff30;
  cursor: wait;
  height: 60px;
}


