.textField {
  background-color: #FFFFFF !important;
  width: 100% !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
  border: 0.5px solid #D9D9D9;

  fieldset {
    border-radius: 8px;
    border: 0.5px solid #D9D9D9;
  }

  input:-webkit-autofill {
    border-radius: 8px;
  }

}


.table {
  width: 100%;
  height: 75vh;
  margin-top: 20px !important;
  border-radius: 8px !important;
  overflow-y: scroll;
}

.tableContent {
}

.tableHead {
  tr {
    background: #6311af;
  }

  th {
    color: #FFFFFF !important;
    text-align: center;
    padding: 8px 16px;
    border: none;
    background: transparent !important;
  }
}

.tableBody {
  border-radius: 8px !important;
  overflow-y: scroll !important;

  td {

    text-align: center;
  }

  tr {
    background: #FFFFFF;
  }
}